<div class="project-create">
  <h2>Crear Nuevo Proyecto</h2>
  <form [formGroup]="formu" (submit)="submit()">

    <label for="name">Nombre</label>
    <input type="text" id="name" class="form-control" formControlName="name">
    @if (formu.get('name')?.touched && formu.get('name')?.invalid) {
      <p class="text-danger">Introduce un nombre válido (mínimo 3 caracteres)</p>
    }

    <label for="description">Descripción</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>
    @if (formu.get('description')?.touched && formu.get('description')?.invalid) {
      <p class="text-danger">Introduce una descripción válida (mínimo 10 caracteres)</p>
    }

    <label for="priority">Prioridad</label>
    <select id="priority" class="form-control" formControlName="priority">
      <option value="HIGH">Alta</option>
      <option value="MEDIUM">Media</option>
      <option value="LOW">Baja</option>
    </select>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
  </form>
</div>
