<div class="task-create">
  <h2>Crear Nueva Tarea</h2>
  <form [formGroup]="formu" (submit)="submit()">

    <label for="name">Nombre</label>
    <input type="text" id="name" class="form-control" formControlName="name">
    @if (formu.get('name')?.touched && formu.get('name')?.invalid) {
      <p class="text-danger">Introduce un nombre válido (mínimo 3 caracteres)</p>
    }

    <label for="description">Descripción</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>
    @if (formu.get('description')?.touched && formu.get('description')?.invalid) {
      <p class="text-danger">Introduce una descripción válida (mínimo 10 caracteres)</p>
    }

    <label for="challengeLevel">Nivel de Desafío</label>
    <select id="challengeLevel" class="form-control" formControlName="challengeLevel">
      <option value="MUY_FACIL">Muy Fácil</option>
      <option value="FACIL">Fácil</option>
      <option value="NORMAL">Normal</option>
      <option value="DIFICIL">Difícil</option>
      <option value="MUY_DIFICIL">Muy Difícil</option>
    </select>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
  </form>
</div>
