<div class="habit-create">
  <h2>Crear Nuevo Hábito</h2>
  <form [formGroup]="formu" (submit)="submit()">

    <label for="name">Nombre</label>
    <input type="text" id="name" class="form-control" formControlName="name">
    @if (formu.get('name')?.touched && formu.get('name')?.invalid) {
      <p class="text-danger">Introduce un nombre válido (mínimo 3 caracteres)</p>
    }

    <label for="description">Descripción</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>
    @if (formu.get('description')?.touched && formu.get('description')?.invalid) {
      <p class="text-danger">Introduce una descripción válida (mínimo 10 caracteres)</p>
    }

    <label for="frequency">Frecuencia</label>
    <select id="frequency" class="form-control" formControlName="frequency">
      <option value="DAILY">Diario</option>
      <option value="WEEKLY">Semanal</option>
      <option value="MONTHLY">Mensual</option>
    </select>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
  </form>
</div>
